<!DOCTYPE html>
<html ng-app='shopApp'>
    <head>
        <title>Shopping Cart</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body ng-controller="CartController">
        <h1>Your order</h1>
        <div ng-repeat="item in items">
            <span>{{item.title}}</span>
            <input ng-model="item.quantity" />
            <span>{{item.price | currency}}</span>
            <span>{{item.price * item.quantity | currency }}</span>
            <button ng-click="remove($index)">Remove</button>    
            <button ng-click="add($index)">Add</button> 
        </div>

                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
                        <script>
                            
                     var app = angular.module('shopApp', []);       
            function CartController($scope) {
                $scope.items = [
                    {title: 'Widget A', quantity: 8, price: 3.95},
                    {title: 'Widget B', quantity: 80, price: 1.45},
                    {title: 'Widget C', quantity: 18, price: 2.25}
                ];
                $scope.remove = function(index) {
                    $scope.items.splice(index, 1);
                    
                };
                
                $scope.add = function(index) {
                    $scope.items.splice(index+1, 0,{title: 'Widget X', quantity: 1, price: 13.95});
                    
                };
            }
            
        </script>
    </body>
</html>
